asgiref==3.8.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.0
crispy-bootstrap5==2024.10
cryptography==46.0.7
defusedxml==0.7.1
Django==5.2.13
django-allauth==65.16.1
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
gunicorn==22.0.0
idna==3.10
oauthlib==3.2.2
packaging==24.2
psycopg==3.2.3
psycopg-binary==3.2.3
pycparser==2.22
PyJWT==2.12.1
python3-openid==3.2.0
requests==2.33.1
requests-oauthlib==1.4.0
sqlparse==0.5.5
typing_extensions==4.12.2
urllib3==2.6.3
whitenoise==6.8.2
